.pf-c-content.record-field-container {
  margin-bottom: 10px;
}

.record-field-container.grouped {
  padding-left: 2em;
}

.borderless-accordion>.pf-c-accordion__expanded-content-body::after,
.borderless-accordion::after {
  display: none;
}

.borderless-accordion>.pf-c-accordion__toggle-text {
  padding-left: 0.8em;
  font-size: 14px;
  font-weight: 400 !important;
  line-height: 1.5;
}

.borderless-accordion>.pf-c-accordion__toggle-icon {
  position: absolute;
  left: 0;
}

button.borderless-accordion {
  padding-top: 1em;
  padding-bottom: 1em;
}

.borderless-accordion>.pf-c-accordion__expanded-content-body,
.drawer-panel-content>.pf-c-drawer__panel-main>.pf-c-drawer__body {
  padding: 0 !important;
}

#drawer-tabs {
  padding-left: 0;
}

.drawer-tab>button {
  font-size: 15px;
}

.drawer-panel-content>.pf-c-drawer__panel-main {
  overflow: hidden;
}

.drawer-head {
  font-size: 1.25rem !important;
  margin: 0 !important;
  padding: 1em !important;
  align-items: baseline;
}

.drawer-body {
  display: flex;
  flex-direction: column;
}

.drawer-tab {
  flex: 1;
  overflow-y: auto;
}

#pf-tab-section-details-drawer-tabs,
#pf-tab-section-raw-drawer-tabs {
  padding: var(--pf-c-drawer--child--PaddingTop) var(--pf-c-drawer--child--PaddingRight) var(--pf-c-drawer--child--PaddingBottom) var(--pf-c-drawer--child--PaddingLeft);
}

h4.record-field-title,
button.record-field-title-popover-button {
  color: inherit !important;
  font-weight: inherit !important;
  margin-bottom: 3px !important;
  padding: 0 !important;
}

button.record-field-title-popover-button {
  background-image: linear-gradient(to right, var(--pf-c-button--m-plain--Color) 33%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 3px 1px;
  background-repeat: repeat-x;
}

div.record-field-popover-body,
div.record-field-popover-footer {
  white-space: pre-line;
  word-break: break-word;
}