#overview-container {
  overflow: inherit;
  height: 100%;
}

#overview-container.dark {
  background: #0f1214;
}

#overview-container.light {
  background: #f0f0f0;
}

.overview-flex-item {
  margin: 0 !important;
  height: 100%;
  width: 50%;
  align-self: flex-start;
}

.overview-flex-item.center {
  align-self: flex-start;
}

.overview-flex-item.full {
  width: 100%;
}

.emptygraph {
  display: block;
  height: 100%;
  align-self: center;
}

#top_avg_donut {
  position: relative;
}