.overview-panel-body {
  min-height: 640px;
}

.overview-panel-body-small {
  height: 320px;
}

.overview-card-content {
  padding: 1em 2em 1em 2em;
}

.overview-title {
  align-self: center;
}

.overview-card {
  margin: 0 1em 1em 0 !important;
}