.overview-panel-body {
  min-height: 640px;
}

.overview-panel-body-small {
  min-height: 320px;
}

.overview-panel-body-compact {
  min-height: 200px;
}

.overview-card-content {
  height: 100%;
  flex-wrap: nowrap;
  padding: 1em 2em 1em 2em;
}

.overview-title {
  align-self: center;
}

/* e.g. InfoAltIcon */
.overview-title svg {
  margin-left: 10px;
  vertical-align: -0.125em;
}

.overview-card {
  margin: 0 1em 1em 0 !important;
}

.overview-expand-button-container {
  align-self: center;
}

.overview-expand-button {
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
}