#overview-container {
  overflow: inherit;
  height: 100%;
  padding: 0 0 0 1.5rem;
}

#overview-container.dark {
  background: #0f1214;
}

#overview-container.light {
  background: #f0f0f0;
}

#overview-flex {
  margin: 2rem 5px 5px 5px;
}

.overview-flex-item {
  margin: 0 !important;
  width: 50%;
  align-self: flex-start;
}

.overview-flex-item.center {
  align-self: flex-start;
}

.overview-flex-item.full {
  width: 100%;
}

.emptygraph {
  display: grid;
  min-height: 320px;
}