#overview-container {
  overflow: inherit;
  height: 100%;
  padding: 0 0 0 1.5rem;
  background: #f0f0f0;
}

#overview-flex {
  margin: 2rem 5px 5px 5px;
}

.overview-flex-item {
  margin: 0 !important;
  width: 50%;
}

.overview-flex-item.full {
  width: 100%;
}