.env
.idea
.vscode
.DS_Store
/bin
/config/config.yaml
/web/coverage
/web/cypress/screenshots
/web/cypress/videos
/web/dist
/web/node_modules
/web/yarn-error.log
/plugin-backend
/cover.out
tmp.Dockerfile
tmp/