.display-dropdown-padding {
  display: block !important;
  padding-top: 1rem !important;
  padding-left: 2rem !important;
  padding-right: 1rem !important;
}

.display-dropdown-switch-padding {
  display: block !important;
  padding: .5rem !important;
}

#type>.pf-v6-c-menu__content,
#scope>.pf-v6-c-menu__content {
  top: 0;
  left: 100%;
}

#overview-display-dropdown {
  min-width: 230px;
}