.display-dropdown-padding {
  padding: 0 1em 1em 1em !important;
}

#type>.pf-v5-c-dropdown__menu,
#scope>.pf-v5-c-dropdown__menu {
  top: 0;
  left: 100%;
}

#overview-display-dropdown {
  min-width: 230px;
}