#topology-display-dropdown>.pf-c-select__menu-group {
  width: 100%;
}

.display-dropdown-padding {
  padding: 0 1em 1em 1em !important;
}

#layout>.pf-c-dropdown__menu,
#group>.pf-c-dropdown__menu,
#truncate>.pf-c-dropdown__menu {
  top: 0;
  left: 100%;
}