#topology-display-dropdown {
  min-width: 260px;
}

.display-dropdown-padding {
  padding: 0 1em 1em 1em !important;
}

#scope>.pf-c-dropdown__menu,
#layout>.pf-c-dropdown__menu,
#group>.pf-c-dropdown__menu,
#truncate>.pf-c-dropdown__menu {
  top: 0;
  left: 100%;
}

#scope ul {
  min-width: 105px;
}