#topology-display-dropdown {
  min-width: 260px;
  padding-bottom: 1rem;
}

#scope>.pf-v6-c-menu__content,
#layout>.pf-v6-c-menu__content,
#group>.pf-v6-c-menu__content,
#truncate>.pf-v6-c-menu__content {
  top: 0;
  left: 100%;
}

#scope ul {
  min-width: 105px;
}