/* hide all date pickers error messages */

.pf-v5-c-date-picker__helper-text.pf-v5-m-error {
  display: none;
}

/* never show empty tooltip */

.filters-tooltip-empty {
  display: none;
}

/* allow new lines for error text */

.text-left-pre {
  white-space: pre-line;
  text-align: left;
}

/* hide empty button - fix for clear all filters keep showing */

button.pf-v5-c-button.pf-v5-m-link.pf-v5-m-inline:empty {
  display: none;
}

/* align toolbar content top */
.flex-start {
  align-self: flex-start;
}

/* fixed row gap to gain space as same as pods view */
#filter-toolbar {
  row-gap: 1rem;
  padding-top: 0;
}

/* stick "Learn more" text */
#more {
  padding: 5px 0px 0px 5px;
}

/* align toolbar with title and table */
div#filter-toolbar-search-filters {
  padding: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}

.pf-v5-c-toolbar__item.pf-v5-m-align-right {
  margin-right: 0;
}

.custom-chip-peer,
.custom-chip-group,
.custom-chip {
  border-radius: 3px;
  box-shadow: 0 0.0625rem 0.125rem 0 rgb(3 3 3 / 12%), 0 0 0.125rem 0 rgb(3 3 3 / 6%);
  display: inline-flex;
  align-items: center;
}

.custom-chip-box {
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin: 0;
  flex-direction: column;
}

.custom-chip-peer {
  color: #000;
  background-color: #fafafa;
}

.custom-chip-group {
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin: 0;
  color: #000;
  background-color: #f0f0f0;
}

.custom-chip-group>p {
  font-size: 0.85rem;
}

.custom-chip {
  min-height: 2em;
  padding: 0 1em 0 1em;
  margin-right: 0.5em;
  color: #000;
  background-color: #fff;
}

.custom-chip::before,
.custom-chip::after {
  border: none !important;
  border-block-start: none !important;
  border-block-end: none !important;
}

.custom-chip-group :nth-child(1 of .custom-chip) {
  margin-left: 1em;
}

.disabled-group,
.disabled-value {
  opacity: 0.75;
}

.custom-chip-group.disabled-group,
.custom-chip-group.disabled-group>button,
.custom-chip-group.disabled-group>* {
  color: #000;
  background-color: #D2D2D2;
}

.custom-chip.disabled-value,
.custom-chip.disabled-value>button,
.custom-chip.disabled-value>* {
  color: #fff;
  background-color: #6A6E73;
}

.pf-v5-theme-dark .custom-chip-peer {
  color: #fff;
  background-color: #002952;
}

.pf-v5-theme-dark .custom-chip-group,
.pf-v5-theme-dark .custom-chip-group>button,
.pf-v5-theme-dark .custom-chip-group>* {
  color: #fff;
  background-color: #004080;
}

.pf-v5-theme-dark .custom-chip,
.pf-v5-theme-dark .custom-chip>button,
.pf-v5-theme-dark .custom-chip>* {
  color: #fff;
  background-color: #06c;
}

.pf-v5-theme-dark .custom-chip-group.disabled-group,
.pf-v5-theme-dark .custom-chip-group.disabled-group>button,
.pf-v5-theme-dark .custom-chip-group.disabled-group>* {
  color: #fff;
  background-color: #6A6E73;
}

.pf-v5-theme-dark .custom-chip.disabled-value,
.pf-v5-theme-dark .custom-chip.disabled-value>button,
.pf-v5-theme-dark .custom-chip.disabled-value>* {
  color: #000;
  background-color: #D2D2D2;
}

.custom-chip>p {
  font-size: 0.75rem;
}

.custom-chip-group>*:hover {
  color: #06c;
}

.custom-chip>*:hover {
  color: #004080;
}

.custom-chip-group.disabled-group>*:hover,
.custom-chip.disabled-value>*:hover {
  color: #4F5255
}

.custom-chip-group>button,
.custom-chip>button {
  padding: 0 0 0 1em;
}

.custom-chip-group>p,
.custom-chip>p {
  cursor: pointer;
  user-select: none;
  max-width: 18ch;
  margin-right: 0.5rem;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#swap-filters-button,
#reset-filters-button,
#clear-all-filters-button {
  padding: 0;
}

.custom-chip.buttonless>p {
  margin-right: 1rem;
}

.custom-chip.selected,
.custom-chip.selected>button,
.custom-chip.selected>*,
.pf-v5-theme-dark .custom-chip.selected,
.pf-v5-theme-dark .custom-chip.selected>button,
.pf-v5-theme-dark .custom-chip.selected>* {
  color: #fff;
  background-color: #06c;
}

.custom-chip.unselected,
.custom-chip.unselected>button,
.custom-chip.unselected>* {
  color: #000;
  background-color: #fff;
}

.pf-v5-theme-dark .custom-chip.unselected,
.pf-v5-theme-dark .custom-chip.unselected>button,
.pf-v5-theme-dark .custom-chip.unselected>* {
  color: #000;
  background-color: #D2D2D2;
}