#query-summary {
  padding: 1.2em;
}

.query-summary-warning {
  color: #2B9AF3;
}

#query-summary-title {
  margin: 0;
}

#query-summary-warning-icon-container {
  margin: 0 5px 0 0;
}

#query-summary-content.center {
  align-items: center;
}

#query-summary-content.center>* {
  margin-right: 2.5em;
  display: flex;
  align-items: center;
}

.stats-query-summary-container,
.stats-query-summary-container-with-icon {
  width: fit-content;
}

.stats-query-summary-container-with-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stats-query-summary-container-with-icon>p {
  padding-left: 5px;
}

.stats-loading-blink {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}