#query-summary {
  padding: 1.2em;
}

.query-summary-warning {
  color: #2B9AF3;
}

#query-summary-title {
  margin: 0;
}

#query-summary-warning-icon-container {
  margin: 0 5px 0 0;
}

#query-summary-content>div {
  margin-right: 2.5em;
}