#query-summary {
  position: absolute;
  bottom: 0;
  align-self: center;
  padding: 10px;
  z-index: 1;
}

#query-summary-content {
  width: fit-content;
}

.query-summary-clickable {
  user-select: none;
}

.query-summary-warning {
  color: #f0ab00;
  font-weight: bold;
}