.pf-v6-c-content.summary-text-container {
  margin-bottom: 10px;
}

.summary-container-grouped {
  padding-left: 15px;
  flex-direction: column !important;
}

.summary-config-item {
  padding-left: 15px;
  flex-direction: column !important;
}

#cardinality-accordion {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.scrollable-panel {
  overflow-y: scroll;
  padding: 1.5rem;
}

#summaryPanel-drawer-body {
  padding-bottom: 5.5em !important;
}