.pf-c-content.summary-text-container {
  margin-bottom: 10px;
}

.summary-container-grouped {
  padding-left: 15px;
  flex-direction: column !important;
}

#cardinality-accordion {
  display: flex;
  flex-direction: column;
  gap: 0;
}