.three-d-text-content {
  padding-top: 10px;
  transform: translate3d(100%, 0, 0);
  text-align: left;
  padding: 10px 15px;
  border-radius: 5px;
  user-select: none;
}

.three-d-text-content.light {
  background: #F0F0F0;
  color: black;
}

.three-d-text-content.dark {
  background: #202035;
  color: white;
}

.three-d-text-content.hovered {
  background: #2b9af3 !important;
}