/* table stripping from pf-v5-color-black-150 value */
:not(.newflow-appear).light-stripped:nth-child(even) {
  background-color: #f5f5f5;
}

:not(.newflow-appear).dark-stripped:nth-child(even) {
  background-color: #050505;
}

.newflow-appear {
  background-color: #73bcf755;
}

.newflow-appear-done {
  background-color: transparent;
  transition: background-color 5s;
}