#pageSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}

/* fix page section color for PF4 compat in OCP 4.15+ */
#pageSection.light {
  background: #fff;
}

#pageSection.dark {
  background: #1b1d21;
}

#pageHeader {
  padding: 1.5rem;
}

#pageHeader>div {
  align-items: start;
}