#column-filter-dropdown-container {
  align-items: center;
  align-content: center;
  align-self: center;
}

#direction-column-filter-dropdowns {
  min-width: 370px;
}

#direction-filter-dropdown-container, #column-filter-dropdown-container {
  flex: 1;
}