#filter-search-input, #filter-popper {
  min-width: 500px !important;
}

.filters-actions {
  width: fit-content;
  margin-right: 0;
  margin-left: auto;
}

.filter-text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}