/* align right popup buttons*/

.footer {
    margin-left: auto;
}


/* vertical align drag icon*/

.pf-v5-c-data-list__cell {
    margin-top: auto;
    margin-bottom: auto;
}


/* vertical align label*/

button.pf-v5-c-data-list__item-draggable-button {
    margin-top: auto;
    margin-bottom: auto;
}

label {
    margin-top: auto;
    margin-bottom: auto;
    padding: inherit;
}

.popup-header-margin {
    margin-top: 1rem;
}

.flex-center {
    align-self: center;
}

.flex-gap {
    gap: 0.5rem;
}

.custom-chip.pointer {
    cursor: pointer;
}