/* table stripping from pf-color-black-150 value */
tbody>tr:nth-child(even) {
  background-color: #f5f5f5;
}

.newflow-appear {
   background-color: #73bcf755;
}

.newflow-appear-done {
    background-color: transparent;
    transition: background-color 5s;
}
