.pf-v6-c-content.record-field-container {
  margin-bottom: 10px;
}

.record-field-container.grouped {
  padding-left: 2em;
}

.borderless-accordion>.pf-v6-c-accordion__expandable-content.pf-m-expanded::after,
.borderless-accordion::after {
  display: none;
}

.borderless-accordion>.pf-v6-c-accordion__toggle-text {
  padding-left: 0.8em;
  font-size: 14px;
  font-weight: 400 !important;
  line-height: 1.5;
}

button.borderless-accordion {
  padding-top: 1em;
  padding-bottom: 1em;
}

.borderless-accordion>.pf-v6-c-accordion__expandable-content.pf-m-expanded,
.drawer-panel-content>.pf-v6-c-drawer__panel-main>.pf-v6-c-drawer__body {
  padding: 0 !important;
}

#drawer-tabs {
  padding-left: 0;
}

.drawer-tab>button {
  font-size: 15px;
}

.drawer-panel-content>.pf-v6-c-drawer__panel-main {
  overflow: hidden;
}

.drawer-head {
  font-size: 1.25rem !important;
  margin: 0 !important;
  padding: 1em !important;
  align-items: baseline;
}

.pf-v6-c-drawer__body.drawer-body {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  flex: none !important;
}

#recordPanel-drawer-body {
  padding-bottom: 5.5em !important;
}

.drawer-tab {
  flex: 1;
}

#pf-tab-section-details-drawer-tabs,
#pf-tab-section-raw-drawer-tabs {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

h4.record-field-title,
button.record-field-title-popover-button {
  color: inherit !important;
  font-weight: inherit !important;
  margin-bottom: 3px !important;
  padding: 0 !important;
}

button.record-field-title-popover-button {
  background-image: linear-gradient(to right, var(--pf-v6-c-button--m-plain--Color) 33%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 3px 1px;
  background-repeat: repeat-x;
}

div.record-field-popover-body,
div.record-field-popover-footer {
  white-space: pre-line;
  word-break: break-word;
}

.record-panel-warning {
  color: #2B9AF3;
  margin-right: 5px;
}

#partial-flow-text {
  margin-bottom: 10px;
}
