.histogram-range-container {
  position: absolute;
  height: 33px;
  overflow: hidden;
  left: 1.5rem;
  right: 1.5rem;
  justify-content: center;
  margin: 0;
  z-index: 999;
}

.histogram-zoom-container {
  justify-content: end !important;
}