.metrics-content-div {
  width: 100%;
  height: 100%;
}

.metrics-content-div.loading,
.metrics-content-button.loading {
  cursor: wait !important;
}

.small-chart-label>tspan {
  font-size: 11px !important;
}