/* hide all date pickers error messages */

.pf-c-date-picker__helper-text.pf-m-error {
  display: none;
}

/* never show empty tooltip */

.filters-tooltip-empty {
  display: none;
}

/* allow new lines for error text */

.text-left-pre {
  white-space: pre-line;
  text-align: left;
}

/* hide empty button - fix for clear all filters keep showing */

button.pf-c-button.pf-m-link.pf-m-inline:empty {
  display: none;
}

.column-filter-item.grouped {
  padding-left: 25px;
}

/* align toolbar content top */
.flex-start {
  align-self: flex-start;
}

/* fixed row gap to gain space as same as pods view */
#filter-toolbar {
  row-gap: 1rem;
  padding-top: 0;
}

/* long-enough to fit help text */
#filter-toolbar #search,
#filter-toolbar #autocomplete-search {
  width: 260px;
}

/* align tips baseline */
#tips {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

/* stick "Learn more" text */
#more {
  padding: 5px 0px 0px 5px;
}

/* force new row for forced filters group*/
#forced-filters {
  flex-basis: 100%;
}
