/* hide all date pickers error messages */

.pf-c-date-picker__helper-text.pf-m-error {
  display: none;
}

/* never show empty tooltip */

.filters-tooltip-empty {
  display: none;
}

/* allow new lines for error text */

.text-left-pre {
  white-space: pre-line;
  text-align: left;
}

/* hide empty button - fix for clear all filters keep showing */

button.pf-c-button.pf-m-link.pf-m-inline:empty {
  display: none;
}

.column-filter-item.grouped {
  padding-left: 25px;
}

/* align toolbar content top */
.flex-start {
  align-self: flex-start;
}

/* fixed row gap to gain space as same as pods view */
#filter-toolbar {
  row-gap: 1rem;
  padding-top: 0;
}

/* align tips baseline */
#tips {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

/* stick "Learn more" text */
#more {
  padding: 5px 0px 0px 5px;
}

/* custom chip groups*/

.pf-c-toolbar__content.group-filters {
  padding: 0;
  flex-basis: 100%;
  margin-top: 5px;
}

.group-container {
  display: flex;
}

.group-criteria {
  align-self: center;
  margin: 10px;
}

.group {
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 3px;
}

.group-header {
  display: flex;
}

.group-title {
  padding: 5px;
  flex: 1;
  align-self: center;
}

.pf-c-button.group-button {
  padding: 5px;
}

.chip-group-content {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.chip-margin {
  margin: 10px !important;
}

.chip-container {
  background: white;
  border-radius: 5px;
  border: var(--pf-c-chip--before--BorderWidth) solid var(--pf-c-chip--before--BorderColor);
  margin-right: 5px;
}

.chip-custom::before {
  border: none !important;
}

.pf-c-button.chip-button {
  position: relative;
  right: 0;
  top: 2px;
  padding: 0 5px 0 0;
}