/* hide all date pickers error messages */

.pf-c-date-picker__helper-text.pf-m-error {
  display: none;
}

/* never show empty tooltip */

.filters-tooltip-empty {
  display: none;
}

/* allow new lines for error text */

.text-left-pre {
  white-space: pre-line;
  text-align: left;
}

/* hide empty button - fix for clear all filters keep showing */

button.pf-c-button.pf-m-link.pf-m-inline:empty {
  display: none;
}

.column-filter-item.grouped {
  padding-left: 25px;
}