#netobserv-error-container {
  overflow: auto;
  height: 100%;
}

.error-text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.netobserv-error-icon,
.netobserv-error-message {
  color: #A30000 !important;
  margin-bottom: 1em;
}

.health-config-text,
.error-text-content>p {
  margin-top: 1em !important;
}

.error-text-content>blockquote {
  width: 60%;
}

.error-text-content ul {
  margin-top: 0.5em;
  text-align: initial;
}
