.netobserv-error-banner {
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 1rem;
  width: 100%;
  background-color: var(--pf-v5-global--BackgroundColor--100);
}

.netobserv-error-banner-item {
  margin-top: 0.5rem;
}

.netobserv-error-banner-item:first-child {
  margin-top: 0;
}

.netobserv-error-banner-popover-button {
  padding: 0;
  font-size: inherit;
  font-weight: bold;
  vertical-align: baseline;
}

.netobserv-error-banner-item .pf-v5-c-expandable-section {
  padding-top: 0;
  margin-top: 0;
}

.netobserv-error-banner-item .pf-v5-c-expandable-section .pf-v5-c-expandable-section__content {
  padding: 0;
  margin: 0;
  padding-left: 1em;
}
