name: pull request checks

on:
  pull_request:
    branches: ['*']

jobs:
  build-test-backend:
    name: Build, lint, test backend
    runs-on: ubuntu-latest

    steps:
    - name: install make
      run: sudo apt-get install make
    - name: set up go 1.x
      uses: actions/setup-go@v3
      with:
        go-version: '1.25'
    - name: checkout
      uses: actions/checkout@v3
    - name: build, lint, test
      run: make backend && git diff --exit-code
    - name: check clean vendors
      run: go mod vendor
    - name: Report coverage
      uses: codecov/codecov-action@v4
      with:
        files: ./cover.out
        flags: unittests
        fail_ci_if_error: false
        verbose: true

  build-test-frontend:
    name: Build, lint, test frontend
    runs-on: ubuntu-latest
    steps:
    - name: install make
      run: sudo apt-get install make
    - name: set up node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18
    - name: checkout
      uses: actions/checkout@v3
    - name: build and test
      run: make frontend && git diff --exit-code
    - name: Report coverage
      uses: codecov/codecov-action@v4
      with:
        files: ./web/coverage/cobertura-coverage.xml
        flags: uitests
        fail_ci_if_error: false
        verbose: true
