#source-content>.pf-v5-c-accordion__expanded-content-body,
#destination-content>.pf-v5-c-accordion__expanded-content-body {
  padding-left: 2.2em !important;
  margin-bottom: 15px;
}

#metrics-chart-title {
  margin-top: 15px;
}

.element-stats-title {
  /* Fix stats titles misaligned */
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.element-metrics-container {
  height: 400px;
}

.element-metrics-container .pf-v5-c-radio {
  grid-gap: 0;
}

#pf-tab-section-details-drawer-tabs,
#pf-tab-section-metrics-drawer-tabs,
#pf-tab-section-dropped-drawer-tabs {
  overflow-y: auto;
  padding: 1.5rem !important;
}

.metrics-justify-content {
  justify-content: space-evenly;
}