.selected-decorator>g>.pf-topology__node__decorator__icon>svg {
  fill: white;
}

.selected-decorator>circle {
  fill: #06c;
}

#topology-search-result-count {
  flex: 0.5;
  text-align: center;
  padding: 0;
  background: transparent;
}

#search-topology-element-input {
  width: 250px;
}

span.pf-topology-control-bar {
  left: 0;
}

g.netobserv.topology.shadowed {
  opacity: 0.5;
}

g.netobserv.topology.node-highlighted>g>ellipse {
  stroke: #0066CC;
  stroke-width: 3px;
  --pf-topology__node__background--Fill: white;
}

g.netobserv.topology.edge-highlighted>.pf-topology__edge__link,
g.netobserv.topology.edge-highlighted>.pf-topology-connector-arrow {
  stroke: #0066CC;
}

g.netobserv.pf-topology__group>.pf-topology__group__background {
  fill: #D2D2D2;
  fill-opacity: 0.5;
}

g.netobserv.pf-topology__group.pf-m-hover>.pf-topology__group__background {
  stroke: #4F5255;
}

g.netobserv.pf-topology__group.pf-m-selected>.pf-topology__group__background {
  stroke: #0066CC;
  fill: #A5C4E2;
}

.topology-icon {
  border: none;
}

.topology-icon > text {
  fill: white;
}