.selected-decorator {
  color: white;
}

.selected-decorator>circle {
  fill: #06c;
  stroke: #06c;
}

#topology-search-result-count {
  flex: 0.5;
  text-align: center;
  padding: 0;
  background: transparent;
}

#search-topology-element-input {
  width: 250px;
}

#search-topology-element-button {
  color: black;
  border-radius: 3px;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(3, 3, 3, 0.12), 0 0 0.125rem 0 rgba(3, 3, 3, 0.06);
}

#topology-search-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  max-width: 430px;
  background: white;
}

span.pf-topology-control-bar {
  left: 0;
}

#topology-search-container:hover {
  border: none;
  box-shadow: 0 0.25rem 0.5rem 0rem rgba(3, 3, 3, 0.12), 0 0 0.25rem 0 rgba(3, 3, 3, 0.06);
}

g.topology.shadowed {
  opacity: 0.5;
}

g.topology.node-highlighted>g>ellipse {
  stroke: #0066CC;
  stroke-width: 3px;
}

g.topology.edge-highlighted>.pf-topology__edge__link,
g.topology.edge-highlighted>.pf-topology-connector-arrow {
  stroke: #0066CC;
}