.options-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.options-col-container {
  display: flex;
  flex-direction: column;
}

span.pf-c-switch__label {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}